GITHUB_USERNAME=your_github_username_here
GITHUB_PAT=your_github_personal_access_token_here
DOCKER_SERVER=https://index.docker.io/v1/
DOCKER_USERNAME=your_docker_username_here
DOCKER_PASSWORD=your_docker_password_here
DOCKER_EMAIL=your_email@example.com

# Optional overridable URLs
# For the latest stable release
# ARGOCD_INSTALL_URL=https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
# For a version tagged install. v3.3.5 in this example
ARGOCD_INSTALL_URL=https://raw.githubusercontent.com/argoproj/argo-cd/v3.3.5/manifests/install.yaml

GIT_REPO_URL=https://github.com/Reed-Schimmel/enterprise-ai-platform.git
